{% extends '::base.html.twig' %}

{% block title %}
Statistiche
{% endblock %}

{% block content %}
<h1>Statistiche</h1>

<div id="tabs">
    <ul>
        <li><a href="#tabs-osp">Sinistri ospedali</a></li>
        <li><a href="#tabs-so">Stati operativi</a></li>
        <li><a href="#tabs-d">Definiti</a></li>
    </ul>
    <div id="tabs-osp" style="display: none">
        {% include 'EphpStatsBundle:Default:index/ospedali.html.twig' %}
    </div>
    <div id="tabs-so" style="display: none">
        {% include 'EphpStatsBundle:Default:index/stati_operativi.html.twig' %}
    </div>
    <div id="tabs-d" style="display: none">
        {% include 'EphpStatsBundle:Default:index/definiti.html.twig' %}
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $( "#tabs" ).tabs();
        $( "#tabs ul li a" ).click(function(){
            $( "#tabs div" ).hide();
            $($(this).attr('href')).show();
        });
        $( "#tabs div:first" ).show();
    });
</script>
{% endblock %}
