<script type="text/javascript">
    var portlets = [];
</script>    
<section class=" clearfix" >
    {% if portlets.pc_top is defined %}
        <section class="no-margin clearfix" id="pc_top">
            {% for portlet in portlets.pc_top %}
                {% render portlet.action with portlet.params %}
            {% endfor %}
        </section>
    {% endif %}
</section>
{% include 'B2SPortletBundle:layout:js.html.twig' %}   
