<div style="display: none" id="fb_cambia_priorita">
    <form id="cambia_priorita_scheda">
        <h2>Cambia priorità <span id="cambia_priorita_a"></span></h2>
        <div style="clear: both"></div>
        <select name="priorita[priorita]" id="priorita_priorita">
            {% for pri in priorita %}
                <option value="{{ pri.id }}">{{pri.priorita}}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="priorita[id]" id="priorita_id" value="" />    
        <button type="button" onclick="assegnaPriorita()">Cambia</button>
    </form>
</div>
<script type="text/javascript">
    function cambiaPriorita() {
        $('.chp').click(function(){
            tr = $(this).closest('tr');
            $('#cambia_priorita_a').text(tr.attr('titolo'));
            $('#priorita_id').val(tr.attr('riga'));
            $('#priorita_priorita').val(tr.attr('priorita'));
        });
    }
    cambiaPriorita();
    function assegnaPriorita() {
        form = $('#cambia_priorita_scheda');
        $.post('{{ path('tabellone_cambia_priorita') }}', form.serialize(), function(out) {
            riga = $('#riga_'+$('#priorita_id').val());
            riga.removeClass('bg-white')
                .removeClass('bg-red')
                .removeClass('bg-yellow')
                .removeClass('bg-green')
                .removeClass('bg-cyan')
                .removeClass('bg-gray')
                .addClass(out.css)
                .attr('priorita', out.id);
            td = riga.find('.chp a');
            td.html(out.label);
            if(out.js != '') {
                eval(out.js);
            }
            $.fancybox.close();
        });
    }
</script>