{% extends '::base.html.twig' %}

{% block title %}
Report
{% endblock %}

{% block content %}
<h1>Report edit</h1>

<form action="{{ path('report_tabellone_update', { 'id': entity.id, 'scheda': scheda }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Modifica</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('tabellone_report', {'id': scheda}) }}">
            Torna indietro
        </a>
    </li>   
</ul>

{% endblock %}