{% form_theme form 'form_table_layout.html.twig' %}
{% extends '::base.html.twig' %}

{% block title %}
Report
{% endblock %}

{% block content %}
<h1>Nuovo Report</h1>

<form action="{{ path('report_tabellone_create', {'scheda': scheda}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Salva</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('report_tabellone', {'scheda': scheda}) }}">
            Back to the list
        </a>
    </li>
</ul>
<script type="text/javascript">
    $('textarea').css('width', '500px').css('hegith', '100px');
</script>
{% endblock %}