{% extends '::base.html.twig' %}

{% block title %}
Report
{% endblock %}

{% block content %}
<h1>Report</h1>

{% include 'EphpSinistriBundle:Report:show_content.html.twig' %}

<ul class="record_actions">
    <li>
        <a href="{{ path('tabellone_report', {'id': scheda}) }}">
            Torna indietro
        </a>
    </li>
    <li>
        <a href="{{ path('report_tabellone_edit', { 'id': entity.id, 'scheda': scheda }) }}">
            Modifica
        </a>
    </li>
</ul>

{% endblock %}