{% extends '::email.html.twig' %}
{% set titolo = 'Agenda giornaliera di '~gestore.nome %}

{% block content %}
<h1>{{titolo}}</h1>

{% if entity|length > 0 %}
    <table class="records_list">
        <thead>
            <tr>
                <th>#</th>
                <th>&nbsp;</th>
                <th>Data</th>
                <th>Tpa</th>
                <th>Claimant</th>
                <th>Titolo</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody id="tb_container">
            {% include 'EphpSinistriBundle:Calendar:email/agenda_giornaliera/tbody.html.twig' %}
        </tbody>
    </table>
{% endif %}

{% if countdown|length > 0 %}
    <h2><a href="{{ url('countdown') }}">Hai {{ countdown|length }} aperti</a></h2>
    <table class="records_list">
        <thead>
            <tr>
                <th>#</th>
                <th>Giorni</th>
                <th>Subject</th>
                <th>Mittente</th>
                <th>TPA</th>
                <th>Claimant</th>
            </tr>
        </thead>
        <tbody id="tb_container">
            {% include 'EphpSinistriBundle:Calendar:email/agenda_giornaliera/cbody.html.twig' %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
